/* the styles for the elements */

body {
background-color: rgb(202, 217, 238);
}

h1 {
    text-align: center;
    text-decoration: underline;
}

aside {
    margin: 50px;
}

div {
float: left;
font-weight: bold;
}

 main img {
    float: right;
 }

footer {
    display: flex;
}