/* the styles for the elements */

body {
background-color: rgb(202, 217, 238);
}

h1 {
    color: darkblue;
    text-align: center;
    text-decoration: underline;
}

/* Style the links inside the navigation bar */
.topnav li {
    list-style: none;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    margin: 15px;
}

.topnav a {
    color: black;
}


/* Change the color of links on hover */
.topnav li:hover {
    background-color: white;
}

/*style for links to each file*/
.nav li {
    width: 50%;
    font-size: 20px;
    padding-inline: 20px;
    margin: 50px;
    list-style: none;
}

.nav a {
    color: black;
    text-decoration: none;
}


img {
    float: right;
    margin: 5px;
    padding-inline: 20px;
}

p {
    padding-top: 25%;
    text-align: center;
}

footer {
    text-align: center;
    position: absolute;
    top: 100%;
}